.md-placeHolder {
    min-height: 10pt;
    min-width: 10pt;
}

.lg-placeHolder {
    min-height: 20pt;
    min-width: 20pt;
}

.sm-placeHolder {
    min-height: 5pt;
    min-width: 5pt;
}

.image {
    max-width: 100%;
}
